
/* ******** TAG SELECTOR ******* */
h3 {
    font-size: 50px;
    color: darkgreen;
}
img:hover{
    background-color: gold;
    height: 150px;
}

/* ******** CLASS SELECTOR ***** */
.apple {
    background-color: blue;
}

.mango {
    background-color: blueviolet;
}

.circular{
    border-radius: 100%;
}

/* ******** ID SELECTOR ******** */
#heading {
    color:brown;
}
#grapl{
    background-color: burlywood;
}
#rdapl {
    background-color: rgb(4, 244, 172);
}